# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import datetime as dt

from pandas_datareader import data
import fix_yahoo_finance as yf
yf.pdr_override()

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [2]:
start = dt.datetime(2015, 1, 1)
end = dt.datetime.today()
print (start)
print (end)

2015-01-01 00:00:00
2018-07-26 15:10:43.797203

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [3]:
stocks = ['AAPL', 'TSLA', 'IBM', 'LNKD']

### Step 4. Read the data from google, assign to df and print it

In [4]:
df = data.get_data_yahoo(stocks, start, end)
df.head()

[*********************100%***********************]  4 of 4 downloaded

                  Open                                High              \
                  AAPL         IBM        TSLA        AAPL         IBM
Date
2015-01-02  111.389999  161.309998  222.869995  111.440002  163.309998
2015-01-05  108.290001  161.270004  214.550003  108.650002  161.270004
2015-01-06  106.540001  159.669998  210.059998  107.430000  159.960007
2015-01-07  107.199997  157.199997  213.350006  108.199997  157.199997
2015-01-08  109.230003  156.240005  212.809998  112.150002  159.039993

                               Low                               Close  \
                  TSLA        AAPL         IBM        TSLA        AAPL
Date
2015-01-02  223.250000  107.349998  161.000000  213.259995  109.330002
2015-01-05  216.500000  105.410004  159.190002  207.160004  106.250000
2015-01-06  214.199997  104.629997  155.169998  204.210007  106.260002
2015-01-07  214.779999  106.699997  154.029999  209.779999  107.750000
2015-01-08  213.800003  108.699997  155.550003  210.009995  111.889999

                                     Adj Close                          \
                   IBM        TSLA        AAPL         IBM        TSLA
Date
2015-01-02  162.059998  219.309998  102.678230  140.094986  219.309998
2015-01-05  159.509995  210.089996   99.785629  137.890594  210.089996
2015-01-06  156.070007  211.279999   99.795021  134.916855  211.279999
2015-01-07  155.050003  210.949997  101.194359  134.035095  210.949997
2015-01-08  158.419998  210.619995  105.082497  136.948334  210.619995

              Volume
                AAPL      IBM     TSLA
Date
2015-01-02  53204600  5525500  4764400
2015-01-05  64285500  4880400  5368500
2015-01-06  65797100  6146700  6261900
2015-01-07  40105900  4701800  2968400
2015-01-08  59364500  4236800  3442500

### Step 5.  What is the type of structure of df ?

In [5]:
type(df)

pandas.core.frame.DataFrame

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [6]:
df.axes

[DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
                '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
                '2015-01-14', '2015-01-15',
                ...
                '2018-07-13', '2018-07-16', '2018-07-17', '2018-07-18',
                '2018-07-19', '2018-07-20', '2018-07-23', '2018-07-24',
                '2018-07-25', '2018-07-26'],
               dtype='datetime64[ns]', name='Date', length=898, freq=None),
 MultiIndex(levels=[['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], ['AAPL', 'IBM', 'LNKD', 'TSLA']],
            labels=[[4, 4, 4, 2, 2, 2, 3, 3, 3, 1, 1, 1, 0, 0, 0, 5, 5, 5], [0, 1, 3, 0, 1, 3, 0, 1, 3, 0, 1, 3, 0, 1, 3, 0, 1, 3]])]

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [7]:
vol = df['Volume']
vol.head()

                AAPL      IBM     TSLA
Date
2015-01-02  53204600  5525500  4764400
2015-01-05  64285500  4880400  5368500
2015-01-06  65797100  6146700  6261900
2015-01-07  40105900  4701800  2968400
2015-01-08  59364500  4236800  3442500

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [8]:
vol['week'] = vol.index.week
vol['year'] = vol.index.year

week = vol.groupby(['week','year']).sum()
week.head()

/Users/amitrajan/Desktop/PythonVirtualEnv/Python3_VirtualEnv/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/amitrajan/Desktop/PythonVirtualEnv/Python3_VirtualEnv/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                AAPL       IBM      TSLA
week year
1    2015   53204600   5525500   4764400
     2016  343790200  25253600  20975400
     2017  103845500  11943500  28576400
     2018  101168400  26396100  23411200
2    2015  283252500  24450500  22632600

### Step 9. Find all the volume traded in the year of 2015

In [9]:
del vol['week']
vol['year'] = vol.index.year

year = vol.groupby('year').sum()
year

/Users/amitrajan/Desktop/PythonVirtualEnv/Python3_VirtualEnv/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             AAPL         IBM        TSLA
year
2015  13063147500  1103814000  1087621300
2016   9680553200  1016270100  1161482600
2017   6810035600  1070962100  1589877200
2018   4416313654   723478730  1103760171