# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep = '\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [3]:
convert_price = lambda x: float(x[1:])
chipo.item_price = chipo.item_price.apply(convert_price)

In [4]:
len(chipo[chipo['item_price'] > 10.0])

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

As the price of item depends on 'choice_description', instead of taking item_price as unique for individual item, its mean is taken

In [5]:
temp = chipo.drop_duplicates(['item_name', 'choice_description'])
temp.groupby(['item_name']).mean()['item_price'].sort_values(ascending = False).to_frame()

                                       item_price
item_name
Bowl                                    14.800000
Steak Salad Bowl                        11.935714
Carnitas Crispy Tacos                   11.137143
Carnitas Salad Bowl                     11.056667
Barbacoa Crispy Tacos                   10.928182
Chicken Salad Bowl                      10.817308
Barbacoa Salad Bowl                     10.778889
Steak Bowl                              10.680516
Veggie Soft Tacos                       10.565714
Steak Burrito                           10.563426
Carnitas Bowl                           10.400847
Barbacoa Soft Tacos                     10.380000
Chicken Bowl                            10.362011
Barbacoa Bowl                           10.227959
Carnitas Burrito                        10.216170
Veggie Bowl                             10.201935
Chicken Burrito                         10.025710
Veggie Salad Bowl                       10.000000
Chicken Crispy Tacos                     9.997442
Barbacoa Burrito                         9.979577
Chicken Soft Tacos                       9.819231
Veggie Burrito                           9.757931
Steak Crispy Tacos                       9.691429
Steak Soft Tacos                         9.573333
Carnitas Soft Tacos                      9.462143
Chicken Salad                            9.158571
Carnitas Salad                           8.990000
Steak Salad                              8.890000
Veggie Crispy Tacos                      8.490000
Veggie Salad                             8.490000
Salad                                    7.400000
Crispy Tacos                             7.400000
Burrito                                  7.400000
6 Pack Soft Drink                        6.490000
Chips and Guacamole                      4.450000
Izze                                     3.390000
Nantucket Nectar                         3.390000
Chips and Mild Fresh Tomato Salsa        3.000000
Chips and Roasted Chili Corn Salsa       2.950000
Chips and Tomatillo Green Chili Salsa    2.950000
Chips and Tomatillo Red Chili Salsa      2.950000
Chips and Roasted Chili-Corn Salsa       2.390000
Chips and Tomatillo-Green Chili Salsa    2.390000
Chips and Tomatillo-Red Chili Salsa      2.390000
Chips and Fresh Tomato Salsa             2.390000
Chips                                    2.150000
Side of Chips                            1.690000
Canned Soda                              1.635000
Canned Soft Drink                        1.250000
Bottled Water                            1.090000

### Step 6. Sort by the name of the item

In [6]:
chipo['item_name'].sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
3422    6 Pack Soft Drink
553     6 Pack Soft Drink
1916    6 Pack Soft Drink
1922    6 Pack Soft Drink
1937    6 Pack Soft Drink
3836    6 Pack Soft Drink
298     6 Pack Soft Drink
1976    6 Pack Soft Drink
1167    6 Pack Soft Drink
3875    6 Pack Soft Drink
1124    6 Pack Soft Drink
3886    6 Pack Soft Drink
2108    6 Pack Soft Drink
3010    6 Pack Soft Drink
4535    6 Pack Soft Drink
4169    6 Pack Soft Drink
4174    6 Pack Soft Drink
4527    6 Pack Soft Drink
4522    6 Pack Soft Drink
3806    6 Pack Soft Drink
2389    6 Pack Soft Drink
3132    6 Pack Soft Drink
3141    6 Pack Soft Drink
639     6 Pack Soft Drink
1026    6 Pack Soft Drink
              ...
2996         Veggie Salad
3163         Veggie Salad
4084         Veggie Salad
1694         Veggie Salad
2756         Veggie Salad
4201    Veggie Salad Bowl
1884    Veggie Salad Bowl
455     Veggie Salad Bowl
3223    Veggie Salad Bowl
2223    Veggie Salad Bowl
2269    Veggie Salad Bowl
4541    Veggie Salad Bowl
3293    Veggie Salad Bowl
186     Veggie Salad Bowl
960     Veggie Salad Bowl
1316    Veggie Salad Bowl
2156    Veggie Salad Bowl
4261    Veggie Salad Bowl
295     Veggie Salad Bowl
4573    Veggie Salad Bowl
2683    Veggie Salad Bowl
496     Veggie Salad Bowl
4109    Veggie Salad Bowl
738     Veggie Soft Tacos
3889    Veggie Soft Tacos
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [7]:
chipo[chipo['item_price'] == chipo['item_price'].max()]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [8]:
len(chipo[chipo['item_name'] == 'Veggie Salad Bowl'])

18

### Step 9. How many times people orderd more than one Canned Soda?

In [9]:
len(chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)])

20